# pr:
#   branches:
#     include:
#       - main
#       - development


# trigger:
#   branches:
#     include:
#       - main
#       - development

# pool:
#   vmImage: 'ubuntu-latest'

# variables:
#   SONARCLOUD_ORG: 'colmcallan'
#   SONARCLOUD_PROJECT_KEY: 'Colm-Callan_DevOpsJavaCalc'

# steps:
# - task: Gradle@3
#   displayName: 'Gradle: clean test + jacoco report + sonar (enforce code coverage)'
#   inputs:
#     workingDirectory: 'app'
#     gradleWrapperFile: 'gradlew'
#     gradleOptions: '-Xmx3072m'
#     javaHomeOption: 'JDKVersion'
#     jdkVersionOption: '21'
#     jdkArchitectureOption: 'x64'
#     publishJUnitResults: true
#     testResultsFiles: '**/build/test-results/test/TEST-*.xml'
#     tasks: >
#       clean test jacocoTestReport jacocoTestCoverageVerification sonarqube
#       -Dsonar.host.url=https://sonarcloud.io
#       -Dsonar.organization=$(SONARCLOUD_ORG)
#       -Dsonar.projectKey=$(SONARCLOUD_PROJECT_KEY)
#       -Dsonar.login=$(SONAR_TOKEN)

# - task: PublishTestResults@2
#   displayName: 'Publish JUnit test result'
#   inputs:
#     testResultsFormat: 'JUnit'
#     testResultsFiles: '**/build/test-results/test/TEST-*.xml'
#     failTaskOnFailedTests: true

# - task: PublishCodeCoverageResults@1
#   displayName: 'Publish JaCoCo code coverage'
#   inputs:
#     codeCoverageTool: 'JaCoCo'
#     summaryFileLocation: 'app/build/reports/jacoco/test/jacocoTestReport.xml'
#     reportDirectory: 'app/build/reports/jacoco/test'
#     failIfCoverageEmpty: true
